$primary-color: #4E73DF;
$secondary-color: #F6C23E;

$accent-color-1: #36B9CC;
$accent-color-2: #E74A3B;

$dark-color: #1F2937;
$light-color: #F8F9FC;
$light-gray-color: #aeb0b3;
$mid-gray-color: #6C757D;
$dark-gray: #333333;

$success-color: #1CC88A;
$warning-color: #F4B400;
$error-color: #DC3545;

$text-color: $dark-color;
$link-color: $primary-color;